[MESSAGES CONTROL]
disable=bad-continuation,
    missing-docstring,
    invalid-name,
    no-self-use,
    protected-access,
    too-few-public-methods,
    duplicate-code,
    too-many-return-statements,
    too-many-arguments,
    too-many-instance-attributes,
    unused-argument
