accumulation-tree==0.6.2
aiodns==3.0.0
aiohttp==3.8.1
aiohttp-jinja2==1.5
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
cchardet==2.1.7
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
frozenlist==1.3.0
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.2
pybrake==1.5.0
pycares==4.2.0
pycparser==2.21
pyudorandom==1.0.0
requests==2.28.0
SQLAlchemy==1.4.37
tdigest==0.5.2.2
urllib3==1.26.9
yarl==1.7.2
